/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  body,
  html {
    height: 100%;
  }
  body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: whitesmoke;
}

/* from ELT Project */
h1{
    color:#212529;
    text-align:center;
    margin-top:15px;
}

h2{
    color:#212529;
    text-align: left;
}

h3{
  color:whitesmoke;
  text-align: center;
  font-weight: bold;
}

h4{
  font-size: smaller;
  color:whitesmoke;
}
h5{
  text-decoration: none;
  color:#212529;
}

.btn{
  border-color: #212529 !important;
  background-color: #212529 !important;
}

.main-button{
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
}

.contact {
  font-size: medium;
  color: #aaaaaa;
  text-decoration: none;
  padding-right: 75px;
  font-weight: 500;
}

.card{
  margin-bottom: 20px;
}

.card-text{
  padding-bottom: 10px;
}

#frame{
  margin-bottom: 175px;
  margin-top:20px;
}

#results{
  border-color: transparent;
  margin-top:20px;
}
@media(max-width: 991px) {
  .contact {
    margin: 0px;
  }

}
