/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  body,
  html {
    height: 100%;
  }

  body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: whitesmoke;
}

h1{
    color:#212529;
    text-align:center;
    margin-top:15px;
}

h2{
    color:#212529;
    text-align: left;
}

.btn{
  border-color: #212529 !important;
  background-color: #212529 !important;
}

.main-button{
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
}

.contact {
  font-size: medium;
  color: #aaaaaa;
  text-decoration: none;
  padding-right: 75px;
  font-weight: 500;
}

a.contact:hover{
  color:#212529;
}

.card{
  margin-bottom: 20px;
}

.card-img-top{
  padding-top: 10px;
  max-height: 450px;
  max-width: fit-content;
  text-align: center;  
}

#frame{
  margin-bottom: 30px;
  margin-top: 20px;
}

#results{
  border-color: transparent;
  margin-top:10px;
  margin-bottom: -5px;
}

@media(max-width: 991px) {
  .contact {
    margin: 0px;
  }

}
