/* Remove the default margin and padding from the body. */
body {
    padding: 0;
    margin: 0;
  }
  
  /* Set map, body, and html to 100% of the screen size. */
  body,
  html {
    height: 100%;
  }
  body {
    height: 750px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-color: whitesmoke;
}



/* from ELT Project */
h1{
    color:#212529;
}

h2{
    color:#212529;
    text-align: left;
}

h3{
  color:whitesmoke;
  text-align: center;
  font-weight: bold;
}

h4{
  font-size: smaller;
  color:whitesmoke;
}
h5{
  text-decoration: none;
  color:#212529;
}


footer{
  clear: both;
    background:#757575;
    color: White;
    padding: 0;
    vertical-align: middle;
    margin: 0;
    position: fixed;
    bottom: 0px;

}

.main-button{
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
}

.dropdown-menu {
  right: 0
}
.name {
  font-size: larger;
  margin-bottom: -2px;
}

.contact {
  font-size: medium;
  color: #aaaaaa;
  text-decoration: none;
  padding-right: 75px;
  font-weight: 500;
}
.bar { 
  margin-top: -8px;
  padding-top: 5px;
  padding-bottom: -8px;
}
.foot {
  padding: 0px;
  margin-bottom: -5px;
}
.card-text{
  padding-bottom: 10px;
}
#frame{
  margin-bottom: 175px;
  margin-top:20px;
}
@media(max-width: 991px) {
  .contact {
    margin: 0px;
  }

  .sm-format-cent{
    text-align: center;
  }

  .sm-format-right{
    text-align: right;
  }
  .sidenav {
    padding-top: 50px;
    margin-top: 200px;
  }

}

/* for map */
#map {
  height: 500px;
  margin-left: 23px;
  width: 97%;
}

#example-image {
  height:200px;
}

/* sidenav */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212529;
  margin-top: 50px;
  padding-left: 20px;
}

.radio-label {
  color: white;
  text-align: left;
}

/* input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: whitesmoke;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(108, 138, 196);
  color: rgb(108, 138, 196);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
} */


.checkbox-label {
  color: white;
}

a.sidenav-header {
  color:whitesmoke;
  text-decoration: none;
}

.filter-button {
  background-color: Transparent;
  border: none;
  color: whitesmoke;
  text-align: left;
}

.weather-selectors {
  background-color: Transparent;
  border: none;
  color: rgb(108, 150, 212);
  text-align: left;
}

.inf-selectors {
  background-color: Transparent;
  border: none;
  color: rgb(108, 150, 212);
  text-align: left;
}

/* main section */

main {
  margin-left: 200px;
}

.quick-stats {
  padding: 10px;
}

.quick-stats .card {
  height: 50px;
  text-align: center;
  border-width: medium;
  border-color: #757575;
  padding-top: 10px;
}

#chart1,
#chart2 {

  height: 375px;
  width: 100%;
}

