<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NYC Accident Dashboard</title>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

  <!-- Heatmap pluggin -->
  <script type="text/javascript" src="static/js/leaflet-heat.js"></script>

  <!-- Awesome markers -->
  <script src="../static/js/leaflet.awesome-markers.js"></script>
  <link rel="stylesheet" href="../static/css/leaflet.awesome-markers.css">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
  
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="../static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png">
<!-- <link rel="manifest" href="/site.webmanifest"> -->

</head>

<body>
      <!-- navbar -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid bar">
          <a class="navbar-brand main-button" href="index">Predicting Movie Revenue</a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-auto">
              <a href="process" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">Process</a>
            </li>
            <li class="nav-item ms-auto">
              <a href="team" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">Our Team</a>
            </li>
            <li class="nav-item ms-auto">
              <a target="_blank" href="https://sdinespierce.github.io/etl_project/" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">ETL Project</a>
            </li>
          </ul>
        </div>
      </nav>
  <main>
    <!-- main page -->
    <div class="container-fluid">
      <div class='row quick-stats'>
        <div class="col-lg-4">
          <div class='card' id="stat1">
          </div>
        </div>
        <div class="col-lg-4">
          <div class='card' id="stat2">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" id="stat3">
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-8">
        <div style="height: 750px;" id="map"></div>
      </div>
      <div class='col-lg-4'>
        <div class="row">
          <div id="chart1">
          </div>
        </div>
        <div class='row'>
          <div id="chart2">
          </div>
        </div>
    </div>
  </div>
  </div>
  </main> 
  <!-- JavaScript file -->
  <script type="text/javascript" src="/static/js/controlPlan.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
