<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Predicting Movie Box Office</title>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Plotly -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
      <!-- navbar -->
      <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid bar">
          <a class="navbar-brand main-button" href="/index">Predicting Movie Box Office</a>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item ms-auto">
              <a href="/model" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">The Project</a>
            </li>
            <li class="nav-item ms-auto">
              <a href="/team" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">Our Team</a>
            </li>
            <li class="nav-item ms-auto">
              <a target="_blank" href="https://sdinespierce.github.io/etl_project/" class="nav-link" style="color: rgba(205, 214, 219, 0.925)">ETL Project</a>
            </li>
          </ul>
        </div>
      </nav>
    <!-- main page -->
    <main>
    <div class="container-fluid">
      <div class='row'>
        <div class="col-10 offset-1" id="frame">
          <div class='row'>
            <div class="col-lg-12">
              <h1>Click on a movie button to see our predicted Box Office sales:</h1>
            </div>
          </div>
          <div class='row'>
            <div class="col-lg-12">
              <div class='card' id="results">
                <!-- Predicted Sales: $$$$ -->
                <h2>{{ prediction_text }}</h2><br>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class="col-5 col-lg-3">
              <div class='card'>
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/dune.jpg" alt="Dune movie poster">
                <div class="card-body">
                  <h5 class="card-title">Dune</h5>
                  <p class="card-text">Release: October 22, 2021</p>
                  <a href="/predict-dune" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class='card'>
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/rons_gone_wrong.jpg" alt="Ron's Gone Wrong movie poster">
                <div class="card-body">
                  <h5 class="card-title">Ron's Gone Wrong</h5>
                  <p class="card-text">Release: October 22, 2021</p>
                  <a href="/predict-ron" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class="card">
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/the_souvenir.jpg" alt="The Souvenir: Part II movie poster">
                <div class="card-body">
                  <h5 class="card-title">The Souvenir: Part II</h5>
                  <p class="card-text">Release: October 29, 2021</p>
                  <a href="/predict-souvenir" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class="card">
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/spencer.jpg" alt="Spencer movie poster">
                <div class="card-body">
                  <h5 class="card-title">Spencer</h5>
                  <p class="card-text">Release: November 05, 2021</p>
                  <a href="/predict-spencer" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
          </div>
          <div class='row quick-stats'>
            <div class="col-5 col-lg-3">
              <div class='card'>
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/mothering_sunday.jpg" alt="Mothering Sunday movie poster">
                <div class="card-body">
                  <h5 class="card-title">Mothering Sunday</h5>
                  <p class="card-text">Release: November 19, 2021</p>
                  <a href="/predict-mothering_sunday" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class='card'>
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/the_humans.jpg" alt="The Humans movie poster">
                <div class="card-body">
                  <h5 class="card-title">The Humans</h5>
                  <p class="card-text">Release: November 24, 2021</p>
                  <a href="/predict-humans" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class="card">
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/red_rocket.jpg" alt="Red Rocket movie poster">
                <div class="card-body">
                  <h5 class="card-title">Red Rocket</h5>
                  <p class="card-text">Release: December 03, 2021</p>
                  <a href="/predict-rocket" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
            <div class="col-5 col-lg-3">
              <div class="card">
                <img class="card-img-top mx-auto" src="../static/images/movie_posters/swan_song.jpg" alt="Swan Song movie poster">
                <div class="card-body">
                  <h5 class="card-title">Swan Song</h5>
                  <p class="card-text">Release: August 6, 2021</p>
                  <a href="/predict-song" class="btn btn-primary d-flex justify-content-center">Predict</a>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </main> 
  <!-- JavaScript file -->
  <script type="text/javascript" src="/static/js/controlPlan.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
